.oauthProviders {
  display: flex;
  gap: 3.75rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-block: 0.8125rem 1.5rem;

  & > svg {
    color: var(--color-light-100);
  }

  a {
    min-width: auto;
    padding: 0;
  }
}
