.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1em;
  height: 1em;
  border-radius: 50%;

  font-size: 10px;
  text-indent: -9999em;

  animation: mul-shd-spin 1.1s infinite ease;
}

@keyframes mul-shd-spin {
  0%,
  100% {
    box-shadow:
      0 -2.6em 0 0 var(--color-primary-500),
      1.8em -1.8em 0 0 rgb(57 125 246 / 15%),
      2.5em 0 0 0 rgb(57 125 246 / 15%),
      1.75em 1.75em 0 0 rgb(57 125 246 / 15%),
      0 2.5em 0 0 rgb(57 125 246 / 15%),
      -1.8em 1.8em 0 0 rgb(57 125 246 / 15%),
      -2.6em 0 0 0 rgb(57 125 246 / 50%),
      -1.8em -1.8em 0 0 rgb(57 125 246 / 85%);
  }

  12.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(57 125 246 / 85%),
      1.8em -1.8em 0 0 var(--color-primary-500),
      2.5em 0 0 0 rgb(57 125 246 / 15%),
      1.75em 1.75em 0 0 rgb(57 125 246 / 15%),
      0 2.5em 0 0 rgb(57 125 246 / 15%),
      -1.8em 1.8em 0 0 rgb(57 125 246 / 15%),
      -2.6em 0 0 0 rgb(57 125 246 / 15%),
      -1.8em -1.8em 0 0 rgb(57 125 246 / 50%);
  }

  25% {
    box-shadow:
      0 -2.6em 0 0 rgb(57 125 246 / 50%),
      1.8em -1.8em 0 0 rgb(57 125 246 / 85%),
      2.5em 0 0 0 var(--color-primary-500),
      1.75em 1.75em 0 0 rgb(57 125 246 / 15%),
      0 2.5em 0 0 rgb(57 125 246 / 15%),
      -1.8em 1.8em 0 0 rgb(57 125 246 / 15%),
      -2.6em 0 0 0 rgb(57 125 246 / 15%),
      -1.8em -1.8em 0 0 rgb(57 125 246 / 15%);
  }

  37.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(57 125 246 / 15%),
      1.8em -1.8em 0 0 rgb(57 125 246 / 50%),
      2.5em 0 0 0 rgb(57 125 246 / 85%),
      1.75em 1.75em 0 0 var(--color-primary-500),
      0 2.5em 0 0 rgb(57 125 246 / 15%),
      -1.8em 1.8em 0 0 rgb(57 125 246 / 15%),
      -2.6em 0 0 0 rgb(57 125 246 / 15%),
      -1.8em -1.8em 0 0 rgb(57 125 246 / 15%);
  }

  50% {
    box-shadow:
      0 -2.6em 0 0 rgb(57 125 246 / 15%),
      1.8em -1.8em 0 0 rgb(57 125 246 / 15%),
      2.5em 0 0 0 rgb(57 125 246 / 50%),
      1.75em 1.75em 0 0 rgb(57 125 246 / 85%),
      0 2.5em 0 0 var(--color-primary-500),
      -1.8em 1.8em 0 0 rgb(57 125 246 / 15%),
      -2.6em 0 0 0 rgb(57 125 246 / 15%),
      -1.8em -1.8em 0 0 rgb(57 125 246 / 15%);
  }

  62.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(57 125 246 / 15%),
      1.8em -1.8em 0 0 rgb(57 125 246 / 15%),
      2.5em 0 0 0 rgb(57 125 246 / 15%),
      1.75em 1.75em 0 0 rgb(57 125 246 / 50%),
      0 2.5em 0 0 rgb(57 125 246 / 85%),
      -1.8em 1.8em 0 0 var(--color-primary-500),
      -2.6em 0 0 0 rgb(57 125 246 / 15%),
      -1.8em -1.8em 0 0 rgb(57 125 246 / 15%);
  }

  75% {
    box-shadow:
      0 -2.6em 0 0 rgb(57 125 246 / 15%),
      1.8em -1.8em 0 0 rgb(57 125 246 / 15%),
      2.5em 0 0 0 rgb(57 125 246 / 15%),
      1.75em 1.75em 0 0 rgb(57 125 246 / 15%),
      0 2.5em 0 0 rgb(57 125 246 / 50%),
      -1.8em 1.8em 0 0 rgb(57 125 246 / 85%),
      -2.6em 0 0 0 var(--color-primary-500),
      -1.8em -1.8em 0 0 rgb(57 125 246 / 15%);
  }

  87.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(57 125 246 / 15%),
      1.8em -1.8em 0 0 rgb(57 125 246 / 15%),
      2.5em 0 0 0 rgb(57 125 246 / 15%),
      1.75em 1.75em 0 0 rgb(57 125 246 / 15%),
      0 2.5em 0 0 rgb(57 125 246 / 15%),
      -1.8em 1.8em 0 0 rgb(57 125 246 / 50%),
      -2.6em 0 0 0 rgb(57 125 246 / 85%),
      -1.8em -1.8em 0 0 var(--color-primary-500);
  }
}
