@import 'tailwindcss';
@import '@ictroot/ui-kit/style.css';

:root {
  --background: var(--color-dark-700);
  --color-dark-500-transparent: rgb(23 23 23 / 56%);
  --font-sans: 'Inter Variable', 'Roboto Variable', arial, helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--color-light-100);
  font-family: var(--font-sans), serif;
}

@keyframes payments-loading-bar {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(420%);
  }
}

.payments-loading-bar {
  animation: payments-loading-bar 1s ease-in-out infinite;
}
